/* Header */
.container-header{
  display: flex;
  flex-direction: row;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: thin solid black;
  width: 100%;
  padding: 10px 10px;
  justify-content: space-between;
}
  /*Logo*/
    .logo{
        color: MediumAquamarine;
        display: inline-flex;
        align-items: center;
        padding-left: 20px;
        }
    .logo p{
      padding:10px;
    }
/* Navigation*/
    .navigation{
        display: inline-flex;
        color: black;
        align-items: center;
        justify-content: space around;
        padding: 0px 40px;
        }
    .navigation span{
      display: inline-block;
      padding: 15px;
    }
    .navigation a:link{
        color: black;
        }

    .navigation a:visited {
        color: black;
        }
/* Content */
.container-alpha{
  border: thin solid black;
  display:flex;
  flex-direction: row;
  margin: 10px;
  justify-content: space-around;

}
.container-alpha div{
  border: thin solid black;
}
.column-left{
  width:630px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap:wrap;
}
.column-center{
  width: 300px;
}
.column-right{
  width: 240px;
}
